header {
	grid-area: header;
	width: 100%;
}

.header__title {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 12px;
}

.header__container {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.email__container {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	max-width: 500px;
	width: 100%;
}

.small__container {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

.email__address {
	align-items: center;
	display: flex;
	font-weight: 700;
	height: 36px;
	justify-content: space-between;
	width: 100%;
}

.address {
	border: 2px solid #eaeaea;
	border-right: 0;
	border-radius: 5px 0 0 5px;
	flex-grow: 2;
	padding: 4px 10px;
}

.email__address > button {
	align-items: center;
	background-color: #00d1b2;
	border: none;
	border-radius: 0 5px 5px 0;
	column-gap: 7px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: 6px 15px;
	transition: 0.25s all;
	width: 100px;
}

.email__address > button:hover {
	background-color: #00947e;
}

.refresh__container {
	align-items: center;
	display: flex;
	justify-content: center;
}

.refresh__container > span {
	width: 250px;
}

@media screen and (max-width: 767px) {
	.refresh__container {
		flex-direction: column;
		row-gap: 10px;
	}

	.address {
		font-size: 0.8rem;
	}

	.small__container {
		flex-direction: column;
	}
}
