.boas-vindas__container {
	align-items: center;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.content-grid {
	display: grid;
	grid-template-areas:
		'header header'
		'aside main';
	grid-template-columns: 35% 65%;
	row-gap: 30px;
	width: 100%;
}
